---
import { getCollection } from 'astro:content';
import Base from '../../layouts/Base.astro';
import PostList from '../../components/PostList.astro';

const posts = (await getCollection('posts', ({ data }) => !data.draft)).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
const years = [...new Set(posts.map((p) => p.data.date.getFullYear()))];
---

<Base title="归档">
  <h1>归档</h1>
  {
    years.map((year) => (
      <section>
        <h2 class="year-heading">{year}</h2>
        <PostList posts={posts.filter((p) => p.data.date.getFullYear() === year)} />
      </section>
    ))
  }
</Base>
